name: 书旗小说

on:
  workflow_dispatch:
  schedule:
     - cron: '1 */1 * * *'
  watch:
    types: started
jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
        
    steps:
      - name: Checkout
        run: |
          git clone https://github.com/Lxg6/Scripts.git ~/Scripts
      - name: Use Node.js 12.x
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: npm install
        run: |
          cd ~/Scripts
          git checkout main
          npm install
      - name: '运行 【书旗小说】'
        run: |
          cd ~/Scripts
          node Task/shuqi.js
